[submodule "vendor/protoc-gen-openapi"]
	path = vendor/protoc-gen-openapi
	url = https://github.com/kollalabs/protoc-gen-openapi
[submodule "vendor/googleapis"]
	path = vendor/googleapis
	url = https://github.com/googleapis/googleapis
