.venv/
.env/
.idea/
**/*.swagger.json
tmp/
gen/

python/dist
python/iotics-api-web/iotics
python/*/VERSION
python/**/*.egg-info
*.env

# Node.js
/nodejs/node_modules/
/nodejs/package-lock.json

# symlink used for local debugging using `replace` in `go.mod`
iotic-go-proto-qapi

.pytest_cache
